.global-header {
  width: 100%;
  padding: 2rem;
  background-color: #ffffff11;
  /* border-bottom: 1px solid var(--color-black-10); */
  z-index: 100;
  display: block;
}
.global-header__container {
  display: grid;
  grid-template-columns: 130px 1fr auto;
  max-width: 1480px;
  height: 40px;
  margin: 0 auto;
}
.global-header__logo {
  height: 100%;
}
.global-header__nav {
  height: 100%;
  /* background-color: #ff7686; */
}
.global-header__profile {
  height: 100%;
}
.global-header__nav-box {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
.global-header__nav-item {
  position: relative;
  height: 100%;
  z-index: 50;
}
.hidden-menu {
  display: none !important;
  cursor: pointer;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: 2rem;
}
.global-header__nav-item.dropdown:hover > .dropdown-menu {
  top: 120%;
  visibility: visible;
  opacity: 1;
}

.btn-text::before {
  font-family: "Material Symbols Rounded";
  content: "grid_view";
  margin-right: 0.4rem;
  vertical-align: -5px;
  font-size: 2rem;
}
/* navigation block */
.navigation {
  height: 100%;
  font-weight: 500;
  color: var(--text-secondary);
}
.nav-item {
  position: relative;
}
.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  z-index: -2;
  cursor: pointer;
}
.nav-item.dropdown:hover > .dropdown-menu {
  top: 120%;
  visibility: visible;
  opacity: 1;
}
.nav-item.dropdown > .dropdown-menu {
  left: 0 !important;
}
.nav-item.dropdown:hover > .dropdown-fullwidth {
  top: 120%;
  visibility: visible;
  opacity: 1;
}
.material-symbols-rounded.support {
  color: rgb(238, 14, 14);
}
.material-symbols-rounded.documentation {
  color: rgb(29, 133, 218);
}
.material-symbols-rounded.rtl-demo {
  color: rgb(9, 185, 133);
}
.material-symbols-rounded.buy {
  color: rgb(255, 158, 30);
}
.material-symbols-rounded.components {
  color: rgb(218, 30, 255);
}
.nav-link {
  padding: 0 2rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-link:not(.nav-link--menu):after {
  font-family: "Material Symbols Rounded";
  content: "\e5cf";
  margin-left: 0.6rem;
  font-weight: bold;
}
.nav-link:hover {
  color: var(--color-primary);
}
/* navigation block */

/* search-form */
.search-form {
  height: 100%;
  position: relative;
}
.search-form__input {
  flex-grow: 1;
  height: 100%;
  padding: 0.7rem 4rem 0.7rem 1rem;
  color: inherit;
  background-color: var(--color-white-100);
  border: 1px solid var(--color-black-20);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.search-form__btn {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  padding-right: 5px;
  cursor: pointer;
  background: transparent;
}
.material-icons.md-18 {
  font-size: 20px;
  color: var(--text-secondary);
}
/* search-form */
