.dropdown-fullwidth {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -650px;
  top: 100%;
  width: 1200px;
  min-width: 1000px;
  min-height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 0px 40px rgb(29 58 83 / 15%);
  box-shadow: 0px 0px 40px rgb(29 58 83 / 15%);
  padding: 4rem;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  z-index: 100;
}
.dropdown-fullwidth-top {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}
.dropdown-fullwidth-bottom {
  width: 100%;
  min-height: 60px;
}

.dropdown-fullwidth__mega-menu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.mega-menu__item {
  display: flex;
  flex-direction: column;
}
.mega-menu__item .dropdown-mega-menu {
  width: 100%;
  font-weight: 500;
  color: var(--text-secondary);
  text-align: left;
}

.mega-menu__title {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--text-primary);
}
.mega-menu__title > h6 {
  text-transform: capitalize;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.5rem;
}

.description-menu {
  height: 100%;
}
.description-menu__item {
  width: 100%;
}
.description-menu__link {
  display: block;
  padding: 1.6rem 1.5rem;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  transition: 0.3s;
  border-radius: 0.5rem;
  color: var(--text-primary);
}
.description-menu__link__title {
  margin-bottom: 0.3rem;
  line-height: initial;
  font-weight: bold;
}
.description-menu__link__desc {
  font-size: 1.3rem;
  min-height: 35px;
  line-height: initial;
  font-weight: 400;
  color: var(--text-secondary);
  transition: 0.3s;
}
.description-menu__link:hover,
.description-menu__link:focus,
.description-menu__link.active {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}
.description-menu__link:hover > .description-menu__link__desc {
  color: var(--color-primary);
}
.description-menu__link.logo {
  display: flex;
}
.description-menu__link__logo {
  align-self: flex-start;
  height: 100%;
  width: 40px;
  margin-right: 1rem;
  overflow: hidden;
}
.description-menu__link__content {
  width: 100%;
}
.description-menu__link__content .description-menu__link__desc {
  min-height: auto;
}
.description-menu__link.logo:hover {
  background-color: #fff;
}
.description-menu__link.logo:hover .description-menu__link__title {
  color: var(--color-primary);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.download-section {
  width: 100%;
  height: 100%;
}
.download-pic {
  width: 100%;
  height: calc(100% - 90px);
}
.download-apps {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.download-apps .google-play-logo {
  margin-right: 1rem;
}
.download-apps .google-play-logo,
.download-apps .app-store-logo {
  width: 125px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.download-apps figure:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
.alert-msg-box {
  width: 100%;
  padding: 0 2rem;
  min-height: 60px;
  background-color: rgba(12, 188, 135, 0.15);
  border: 1px solid rgba(12, 188, 135, 0.3);
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}
.alert-msg {
  margin-left: 1rem;
  color: hsl(162, 88%, 29%);
}
